
<%= form_for @trip do |t| %>
 
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@trip.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <p>
    <%= t.label :name %><br>
    <%= t.text_field :name, class: 'form-control' %>
  </p>
  
  <p>
    <%= t.label "Destination" %><br>
    <%= t.text_field :dest, class: 'form-control' %>
  </p>
  
  <p>
    <%= t.label "Date" %><br>
    <%= t.text_field :month, class: 'form-control' %>
  </p>
  
  <p>
    <%= t.label "Description" %><br>
    <%= t.text_field :desc, class: 'form-control' %>
  </p>
  
   <p>
    <%= t.label "Image(html)" %><br>
    <%= t.text_field :image, class: 'form-control' %>
  </p>
  
  <p>
  	<%= t.label "Tags" %><br>
  	<%= t.text_field :all_tags, placeholder: "Tags separated with comma" %>
  </p>
  
  <p>
    <%= t.submit "Set Sail!!", class: "btn-srch" %>
  </p>
 
 
 
<% end %>

