
<h1>Start a new Adventure!!</h1>

<div class="row">
<div class="col-md-3 col-md-offset-3">
<%= render 'form' %>

</div>
<h4>Trip themes:</h4>
<br>
<%= check_box_tag(:fixed) %>
<%= label_tag(:fixed, "Set in stone") %>
<%= check_box_tag(:flexibile) %>
<%= label_tag(:flexible, "Day by Day") %>

<br></br>
<%= check_box_tag(:outdoor) %>
<%= label_tag(:outdoor, "Outdoor") %>
<%= check_box_tag(:sight_seeing) %>
<%= label_tag(:sight_seeing, "Sight Seeing") %>

<br></br>
<%= check_box_tag(:x_games) %>
<%= label_tag(:x_games, "Extreme Activities") %>
<%= check_box_tag(:roadtrip) %>
<%= label_tag(:roadtrip, "Roadtrip") %>
<br></br>
<%= check_box_tag(:foodie) %>
<%= label_tag(:foodie, "Foodies") %>
<%= check_box_tag(:clubbing) %>
<%= label_tag(:clubbing, "Clubbing") %>
<br></br>
<%= check_box_tag(:luxury) %>
<%= label_tag(:luxury, "Luxury") %>
<%= check_box_tag(:luxury) %>
<%= label_tag(:bohemian, "Bohemian") %>
<%= check_box_tag(:camping) %>
<%= label_tag(:camping, "Camping") %>
<br></br>
<%= check_box_tag(:non_stop) %>
<%= label_tag(:non_stop, "Non-Stop") %>
<%= check_box_tag(:chill) %>
<%= label_tag(:chill, "Chill") %>
<br></br>
<%= check_box_tag(:all_things) %>
<%= label_tag(:all_things, "A litte bit of everything") %>
</div>
   