
<%= form_for @user do |f| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
 
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control' %>
  
    <%= f.label :passsword_confirmation%><br>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
 	<br>
    <%= f.submit "Create my account", class: "btn-srch	" %>
 
<% end %>
